<div class="container-fluid hdr">
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12"
      style="text-align: center;color: green;font-size: 1.5rem;font-weight: 800;">
      <span><u>PARENT'S CORNER</u></span>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <p class="design">PARENTING ROLES</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div
              class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3">
              <p class="design2">“ADULTS ARE JUST OUTDATED CHILDREN”<br>
                -Dr. Seuss
              </p>
            </div>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">Remember you’re always their role models.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">Do not pressurize them.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">Try and indulge in school activities requiring your presence.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">Give them enough freedom to unleash  the potential within.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">Appreciate their works.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">Comparison can sap their self confidence, so try not to compare.</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <hr>
  <div class="row" style="margin-top: 10px;">
      <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <p class="design">SUMMER VACATION</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-content>
            <p class="design3">
                Away from the scorching heat of summer sun, kids get the opportunity to refresh themselves during the school’s summer holidays. Both parents and children need some time to escape the soaring mercury levels. A family trip to a hill station or a cooler zone will be just the right choice. Or one can even look for development of skills, creative learning, and dance or sports classes to keep children indulged all the time.
            </p>
            <div class="row">
                <div
                  class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3">
                  <p class="design2">Here we have some tips that could make their vacations a merry time:-</p>
                </div>
              </div>
              <div style="color: darkmagenta; display: flex;">
                  <mat-icon>label_important</mat-icon>
                  <p class="design3">
                      <u><strong>Summer games:</strong></u> children can involve in indoor and outdoor games.
                      It will be wise to schedule outdoor games during the cooler hours of evening or early morning. Their clothes need to be loose, light colored and of cotton. Always supervise them when they are in the playground.
                  </p>
                </div>
                <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">
                      <u><strong>Creative zone:</strong></u> television and smart phone hours should be lessened. Storytelling sessions, educational games and walk in the nature should be introduced in their schedule. Hobbies should be encouraged more.
                    </p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                      <mat-icon>label_important</mat-icon>
                      <p class="design3">
                          <u><strong>Diet:</strong></u> summer heat can dehydrate children more often than adults, so care should be taken that they consume optimum fluid. Fruits should be a part of their meals. Lessen the quantity of oily food and junks. You can always serve them homemade popsicles and cakes which would be a yummy and soothing treat to both parent and child.
                      </p>
                    </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <hr>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <app-footer-area></app-footer-area>
      </div>
    </div>
  </div>
