<div class="container-fluid hdr">
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12"
      style="text-align: center;color: green;font-size: 1.5rem;font-weight: 800;">
      <span><u>Registration Instruction</u></span>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-8 offset-2">
      <mat-card>
        <mat-card-content>
          <p class="para">
            All interested parents are requested to submit the duly filled-up form along with two (2) stamp size photographs of their ward to the school office from 9:00 AM to 5:00 PM on working days. (Mon - Saturday).
          </p>
        </mat-card-content>
      </mat-card>

    </div>
  </div><br>
  <div class="row">
    <div class="col-2 offset-5">
      <a mat-raised-button href="../../assets/forms/admisnform.pdf" target="_blank" color="accent">Download Form</a>
    </div>
  </div>
  <hr>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-footer-area></app-footer-area>
    </div>
  </div>
</div>
