<div class="container-fluid hdr">
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12" style="text-align: center;color: green;font-size: 1.5rem;font-weight: 800;">
      <span><u>About Us</u></span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-7 col-md-5 col-lg-3 col-xl-3">
      <p class="design">Our Philosophy</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-1 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-2">
      <div class="card text-white bg-success mb-3" style="width: 100%;">
        <div class="row">
          <div class="col-6" style="max-height: 300px"><img src="../../assets/winter/8.JPG" class="card-img-top h-100" alt="image"></div>
          <div class="col-6" style="max-height: 300px"><img src="../../assets/about/8IMG_8054.JPG" class="card-img-top h-100" alt="image"></div>
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 1.5rem; text-align: justify;">Kishalay recognizes need and pace of the individual child. We aim to make each child comfortable through play and fun.</p>
        </div>
      </div><hr>

      <div class="card text-white bg-dark mb-3" style="width: 100%;">
        <div class="row">
          <div class="col"><img src="../../assets/about/IMG_4506 .JPG" class="card-img-top h-100" alt="image"></div>
          <div class="col"><img src="../../assets/about/IMG_2711.JPG" class="card-img-top h-100" alt="image"></div>
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 1.5rem; text-align: justify;">Children learn better in a relaxed atmosphere by observing nature, playing and chatting with each other and singing songs and reciting nursery rhymes. </p>
        </div>
      </div><hr>

      <div class="card text-white bg-info mb-3" style="width: 100%;">
        <div class="row">
          <div class="col"><img src="../../assets/about/IMG-20190312-WA0012.jpg" class="card-img-top h-100" alt="image"></div>
          <div class="col"><img src="../../assets/about/IMG_7615.JPG" class="card-img-top h-100" alt="image"></div>
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 1.5rem; text-align: justify;">Through carefully planned activities we encourage children to improve their vocabulary, listen, talk and respond as well as to develop their writing skills at a very tender age. </p>
        </div>
      </div><hr>

      <div class="card text-white bg-danger mb-3" style="width: 100%;">
        <div class="row">
          <div class="col"><img src="../../assets/about/IMG-20181106-WA0149.jpg" class="card-img-top h-100" alt="image"></div>
          <div class="col"><img src="../../assets/about/IMG_1468.JPG" class="card-img-top h-100" alt="image"></div>
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 1.5rem; text-align: justify;">With open hearts we welcome all seasons and festivities that celebrate them.</p>
        </div>
      </div><hr>

      <div class="card text-white bg-success mb-3" style="width: 100%;">
        <div class="row">
          <div class="col-6 offset-3" style="max-height: 300px;">
            <img src="../../assets/about/IMG_7858.JPG" class="card-img-top h-100" alt="image">
          </div>
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 1.5rem; text-align: justify;">We provide opportunities for kids to be active and interactive. At the same time we also help them understand the importance of physical activities, yoga and a healthy diet.</p>
        </div>
      </div><hr>

      <div class="card text-white bg-info mb-3" style="width: 100%;">
        <div class="row">
          <div class="col"><img src="../../assets/about/IMG_7499  .JPG" class="card-img-top h-100" alt="image" style="max-height: 300px;"></div>
          <div class="col"><img src="../../assets/about/IMG-20190418-WA0040.jpg" class="card-img-top h-100" alt="image" style="max-height: 300px;"></div>
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 1.5rem; text-align: justify;">Children learn about shapes, colours and sizes through everyday activities. Our creative platform enhances the same ability  by keeping a day for each vivid colour or shape.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <app-footer-area></app-footer-area>
    </div>
  </div>
</div>
