<div class="container-fluid hdr">
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12"
      style="text-align: center;color: green;font-size: 1.5rem;font-weight: 800;">
      <span><u>CURRICULUM</u></span>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-6 col-sm-7 col-md-5 col-lg-3 col-xl-3">
      <p class="design">Introduction</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div
              class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3">
              <p class="design2">“Indeed the first 5-6 years of childhood are the most vital stages in life.”</p>
            </div>
          </div>
          <p class="design3">
            Within our curriculum all children are supported in developing their potential at their own pace. Our
            regular planning sessions enable us to provide a wealth of experience from which your child can build and
            expand their knowledge and skills. Records of progress will be maintained for each child attending
            preschool. The key areas in which progress is expected to be made are:-
          </p>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">COGNITIVE DEVELOPMENT.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">KNOWLEDGE AND UNDERSTANDING OF THE WORLD.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">INTELLECTUAL AND EMOTIONAL DEVELOPMENT.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">COMMUNICATION, LANGUAGE AND LITERARY DEVELOPMENT.</p>
          </div>
          <div style="color: darkmagenta; display: flex;">
            <mat-icon>label_important</mat-icon>
            <p class="design3">MATHEMATICAL DEVELOPMENT.</p>
          </div>
          <br>
          <div
            class="col-12 offset-0 col-sm-10 offset-sm-1 col-md-10 col-lg-8 col-xl-8 offset-md-1 offset-lg-2 offset-xl-2">
            <p class="design2">UNDER OUR PRESCHOOLING UMBRELLA WE HAVE THE FOLLOWING PROGRAMS:-</p>
          </div>
          <hr>
          <!--Tab Section-->
          <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
            <!--Play Group-->
            <mat-tab>
              <ng-template mat-tab-label>
                <span style="font-weight: 600;color:darkmagenta; font-size: 18px;">PLAY GROUP</span>
              </ng-template>
              <div class="row" style="margin-top: 10px;">
                <div class="col-6 col-sm-7 col-md-5 col-lg-3 col-xl-3">
                  <p class="design4">Age: 1.5 to 3 yrs</p>
                </div>
              </div>
              <mat-card class="pgcard">
                <mat-card-header>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <mat-card-title>
                          The pre nursery batch/ play group is the first step towards educational success. Tiny tots
                          take their first ‘step’ to enroll in a regular school where they meet new people, new buddies,
                          and new
                          environment all together. They gradually learn to come forward to interact with others.
                        </mat-card-title>
                      </div>
                      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <img mat-card-image src="../../assets/galery/8.JPG" alt="image">
                      </div>
                    </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <p class="design2">NURTURING TENDER MINDS:</p>

                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Identifying shapes, colors and objects.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Thumb impression, sponge dabbing, stick art and coloring.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">COMMUNICATION, LANGUAGE AND LITERARY DEVELOPMENT.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Sand play and mat activity for identifying alphabets.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Joining dots and tracing.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Playing with blocks.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Learning eating and toilet habits.</p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>

            <!--Nursery-->
            <mat-tab>
              <ng-template mat-tab-label>
                <span style="font-weight: 600;color:darkmagenta;font-size: 18px;">NURSERY</span>
              </ng-template>
              <div class="row" style="margin-top: 10px;">
                <div class="col-6 col-sm-7 col-md-5 col-lg-3 col-xl-3">
                  <p class="design4">Age: 3 to 4 years</p>
                </div>
              </div>
              <mat-card class="pgcard">
                <mat-card-header>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <mat-card-title>
                          Kishalay’s nursery education focuses on learning by exploring.
                          There are interactive sessions and lessons well demonstrated by teachers. Children learn to
                          listen and recite nursery rhymes, alphabets and a certain extent of numerals. They learn
                          through audio visuals and pictorial representations of life around us.
                        </mat-card-title>
                      </div>
                      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <img mat-card-image src="../../assets/summer/11.jpg" alt="image">
                      </div>
                    </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <p class="design2">CATCHING UP WITH CREATIVITY:-</p>

                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Craft activities.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Storytelling and Recitations.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Maths skills through lab activities</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Sand play and mat activity for identifying alphabets.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Sharing habits and teamwork.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Outdoor sports.</p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>

            <!--LKG-->
            <mat-tab>
              <ng-template mat-tab-label>
                <span style="font-weight: 600;color: darkmagenta; font-size: 18px;">LKG</span>
              </ng-template>
              <div class="row" style="margin-top: 10px;">
                <div class="col-6 col-sm-7 col-md-5 col-lg-3 col-xl-3">
                  <p class="design4">Age: 4 to 5 yrs</p>
                </div>
              </div>
              <mat-card class="pgcard">
                <mat-card-header>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <mat-card-title>
                          As with growing years curiosity grabs the child, they find every means and way to learn more
                          about their surroundings. At this phase even imagination plays its way through art and
                          craftworks.
                          Our LKG group fosters just these skills through active learning and participation in sports.
                        </mat-card-title>
                      </div>
                      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <img mat-card-image style="max-height: 280px;" src="../../assets/galery/73.jpg" alt="image">
                      </div>
                    </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <p class="design2">LEARNING IS FUN:-</p>

                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Drawing and coloring.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Rhymes and storytelling.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Boosting language skills.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Find out how seeds germinate?</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Self introduction.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Describing objects around us.</p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>

            <!--UKG-->
            <mat-tab>
              <ng-template mat-tab-label>
                <span style="font-weight: 600;color: darkmagenta; font-size: 18px;">UKG</span>
              </ng-template>
              <div class="row" style="margin-top: 10px;">
                <div class="col-6 col-sm-7 col-md-5 col-lg-3 col-xl-3">
                  <p class="design4">Age: 5 to 6 yrs</p>
                </div>
              </div>
              <mat-card class="pgcard">
                <mat-card-header>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <mat-card-title>
                          Our UKG segment is the exact platform to groom your child for a formal school. We here provide
                          just the right equipments and caring guidance of teachers to bring out the best in them
                          through reasoning skill development and by nurturing their thinking ability.
                        </mat-card-title>
                      </div>
                      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <img mat-card-image src="../../assets/about/IMG_2711.JPG" alt="image">
                      </div>
                    </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <p class="design2">SMART KIDS:-</p>

                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Playing with numbers.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Following directions.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Dancing and swimming sessions.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Framing sentences and penning words.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Playful reading.</p>
                  </div>
                  <div style="color: darkmagenta; display: flex;">
                    <mat-icon>label_important</mat-icon>
                    <p class="design3">Imaginative drawing.</p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>

          </mat-tab-group>
          <!--Tab section End-->

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <hr>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-footer-area></app-footer-area>
    </div>
  </div>
</div>
