<section fxHide.lt-md
  style="min-height: 400px; max-height: 800px; margin-top: 5px;margin-bottom: 0; background-color: azure; width: 100%;">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
          <div style="background-color: orange; color: white; text-align: center;">
            <h3>Address/Contact</h3>
          </div>
        <div class="row">
          <div class="col-sm-1">
            <mat-icon>room</mat-icon>
          </div>
          <div class="col-sm-10"><span style="font-size: 16px; font-weight: 600;"> H/N-4, NILANCHAL COLONY, SARAIDHELA, DHANBAD </span></div>
        </div><br>
        <div class="row">
          <div class="col-sm-1">
            <mat-icon>email</mat-icon>
          </div>
          <div class="col-sm-11"><span style="font-size: 16px; font-weight: 600;"><a
                href="mailto:kishalay.ps@gmail.com">kishalay.ps@gmail.com</a>
             </span></div>
        </div><br>

        <div class="row">
          <div class="col-sm-1">
            <mat-icon> phone</mat-icon>
          </div>
          <div class="col-sm-11"><span style="font-size: 16px; font-weight: 600;"> 9431530129 </span></div>
        </div>
      </div>
      <!--Map start-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-6">
        <div style="background-color: green; color: white; text-align: center;">
          <h3>Location Map</h3>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.000714451019!2d86.46691396452574!3d23.818573634555847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f6bb87fb6223d3%3A0x996c3aeae823940f!2sKishalay+Play+School!5e0!3m2!1sen!2sin!4v1557999423425!5m2!1sen!2sin"
          height="300px" frameborder="0" style="border:0; width:100%; " allowfullscreen></iframe>
      </div>
      <!--Map End-->
      <div class="col-lg-4 col-md-4  col-sm-4 col-8 offset-lg-0 offset-md-0 offset-sm-0 offset-2"
        style="max-height: 300px; min-height: 200px;">
        <div style="background-color: #c1321f; color: white; text-align: center;">
          <h3>Quick Link</h3>
        </div>
        <div fxLayoutGap="10px">
          <a mat-raised-button href="https://www.curiousworld.com/" target="_blank" color="accent">Curious World</a>
          <a mat-raised-button href="https://pbskids.org/" target="_blank" color="primary">PBS Kids</a>
        </div>
      </div>
    </div>
  </div>

</section>

<!--For small screen-->

<section fxHide.gt-sm fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
  style="margin-top: 5px;margin-bottom: 0; background-color: azure; width: 100%;">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div style="background-color: orange; color: white; text-align: center;">
          <h3>Address/Contact</h3>
        </div>
        <div class="row">
          <div class="col-1">
            <mat-icon>room</mat-icon>
          </div>
          <div class="col-10"><span style="font-size: 12px; font-weight: 500;"> H/N-4, NILANCHAL COLONY, SARAIDHELA, DHANBAD </span></div>
        </div><br>
        <div class="row">
          <div class="col-1">
            <mat-icon>email</mat-icon>
          </div>
          <div class="col-10"><span style="font-size: 12px; font-weight: 500;"><a
                href="mailto:kishalay.ps@gmail.com">kishalay.ps@gmail.com</a>
               </span></div>
        </div><br>

        <div class="row">
          <div class="col-1">
            <mat-icon> phone</mat-icon>
          </div>
          <div class="col-10"><span style="font-size: 12px; font-weight: 500;"> 9431530129 </span></div>
        </div>
      </div>
      <!--Map start-->
      <div class="col-12">
        <div style="background-color: green; color: white; text-align: center;">
          <h3>Location Map</h3>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.000714451019!2d86.46691396452574!3d23.818573634555847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f6bb87fb6223d3%3A0x996c3aeae823940f!2sKishalay+Play+School!5e0!3m2!1sen!2sin!4v1557999423425!5m2!1sen!2sin"
          height="150px" frameborder="0" style="border:0; width:100%; " allowfullscreen></iframe>
      </div>
      <!--Map End-->
      <div style="margin-bottom: 5px;" class="col-12">
        <div style="background-color: #c1321f; color: white; text-align: center;">
          <h3>Quick Link</h3>
        </div>
        <div fxLayoutGap="10px">
          <a mat-raised-button href="https://www.curiousworld.com/" target="_blank" color="accent">Curious World</a>
          <a mat-raised-button href="https://pbskids.org/" target="_blank" color="primary">PBS Kids</a>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="row" style="background-color: black; color: white;margin-bottom: 0; text-align: center;">
  <div class="col-12">
  &copy; KISHALAY PLAY SCHOOL <span class="float-right" style="margin-right: 5px;">
  <a style="padding-right: 20px;color: purple; cursor: pointer;" (click)="openDialog()">@developer</a>
  </span>
</div>
</div>
