<div class="container-fluid hdr">
  <div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12"
      style="text-align: center;color: green;font-size: 1.8rem;font-weight: 800;">
      <span><u>Our Facilities</u></span>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
        <mat-tab>
          <ng-template mat-tab-label>
            <span style="font-weight: 600;color: darkmagenta;font-size: 18px;">Activity Arena</span>
          </ng-template>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12 col-xl-12 col-lg-12 col-md-12"
                    style="text-align: center;color: #ed4715;font-size: 1.5rem;font-weight: 800;">
                    <span><u>Activity Arena</u></span>
                  </div>
                </div><hr>
            <div class="row" style="margin-top: 10px;">
              <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <mat-card>
                  <mat-card-content>
                    <p class="para">
                      Our activity section provides children the amenities to experiment with objects, learn about their
                      shapes and colors, handle art stuffs to create crafts, share space with others and learn. We have
                      in
                      stock: interactive play boards, abacus, join-the-beads toys, colorful alphabet mats and lots more
                      to
                      make learning so much fun.
                    </p>
                    <hr>
                    <div class="row">
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/14IMG-20190509-WA0042.jpg" class="imgcls"
                          alt="image">
                      </div>
                      <div class="col-6">
                        <img mat-card-image class="imgcls" src="../../assets/infra/9IMG_6991.JPG" alt="image">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/10IMG_7860.JPG" alt="image">
                      </div>
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/3IMG_2734.JPG" alt="image">
                      </div>
                    </div>
                  </mat-card-content>

                </mat-card>

              </div>
            </div>
          </div>
          <hr>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span style="font-weight: 600;color: darkmagenta;font-size: 18px;">Audio-Visual Room</span>
          </ng-template>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12 col-xl-12 col-lg-12 col-md-12"
                    style="text-align: center;color: #ed4715;font-size: 1.5rem;font-weight: 800;">
                    <span><u>Audio-Visual Room</u></span>
                  </div>
                </div><hr>
            <div class="row" style="margin-top: 10px;">
              <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <mat-card>
                  <mat-card-content>
                    <p class="para">
                      AV rooms are a boot to their preschool learning. Here our toddlers can enjoy watching animated
                      nursery rhymes and refresh themselves. ‘A great way of learning is through visuals’.
                    </p>
                    <hr>
                    <div class="row">
                      <div class="col-6 offset-3">
                        <img mat-card-image src="../../assets/infra/8IMG_6002.JPG" alt="image">
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
          <hr>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span style="font-weight: 600;color: darkmagenta; font-size: 18px;">Outdoor Activities</span>
              </ng-template>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12 col-xl-12 col-lg-12 col-md-12"
                    style="text-align: center;color: #ed4715;font-size: 1.5rem;font-weight: 800;">
                    <span><u>Outdoor Activities</u></span>
                  </div>
                </div><hr>
            <div class="row" style="margin-top: 10px;">
              <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <mat-card>
                  <mat-card-content>
                    <p class="para">
                      Outdoor rollick, spending time with nature and strolling round the garden under the open sky are
                      all
                      indelible memories of one’s childhood. We let your children enjoy a day out in the sun and make
                      friends with bunnies and birds; all important for their holistic development.
                    </p>
                    <hr>
                    <div class="row">
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/5IMG_4508.JPG" style="max-height: 300px;" alt="image">
                      </div>
                      <div class="col-6">
                          <img mat-card-image src="../../assets/infra/4IMG_2760.JPG" alt="image">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/11IMG_8054.JPG" alt="image">
                      </div>
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/7IMG_5155.JPG" alt="image">
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
          <hr>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span style="font-weight: 600;color: darkmagenta; font-size: 18px;">Classroom</span>
              </ng-template>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12 col-xl-12 col-lg-12 col-md-12"
                    style="text-align: center;color: #ed4715;font-size: 1.5rem;font-weight: 800;">
                    <span><u>Classroom</u></span>
                  </div>
                </div><hr>
            <div class="row" style="margin-top: 10px;">
              <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <mat-card>
                  <mat-card-content>
                    <p class="para">
                      Toddlers here learn alphabets, numbers, rhymes, body parts, everyday basic science and lots more
                      through story telling sessions and listen-and-say along techniques. Our teachers help them build
                      their vocabulary, listening and speaking skills through a multitude of creative learning
                      experiences.
                    </p>
                    <hr>
                    <div class="row">
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/12IMG-20190503-WA0056.jpg" alt="image">
                      </div>
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/13IMG-20190503-WA0057.jpg" alt="image">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                          <img mat-card-image src="../../assets/infra/2IMG_2711.JPG" alt="image">
                      </div>
                      <div class="col-6">
                        <img mat-card-image src="../../assets/infra/1IMG_2695.JPG" alt="image">
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
          <hr>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-footer-area></app-footer-area>
    </div>
  </div>
</div>
